

	<div class="custom-pic-header">
		<h2>My Day Hour by Hour....!</h2>
	</div>


	<% @pics.each do |pic| %>

	<div class="span3">


	<div class="boxy">
		<h2>Hour: <%= pic.hour %></h2>
		<p />
		<br />
		<h4>Emotion: </h4>
		<p>
		<%= pic.emotion %>
		</p>
		<br />
		<h4> What I Learned: </h4> 
		<p>
		<%= pic.learned %>
		</p>



	</div>


</div>

	<% end %>

