
<div class="span6 offset3">
	<div class="boxy">
<h1> Hi I'm Rocio</h1>

<p>Setting up was a pain in the ass!</p>
	<%= link_to('Check out my App', '#', :class => 'btn btn-warning btn-large') %>
	</div>
</div>